{% extends "blog/base.html" %}
{% load socialaccount %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8" style="margin-top: 3.1rem!important;">
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Log Out</legend>
						<p>Are you sure you want to log out?</p>
						</fieldset>
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
						{% endif %}
						<div class="form-group">
							<button class="btn btn-outline-info" type="submit">Log Out</button>
						</div>
				</form>
			</div>
		</div>
		{% include 'blog/sidebar.html' %}
	</div>
</div>
{% endblock content %}
