{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="margin-top: 3.1rem!important;">
				<div class="content-section">
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</legend>
							{% if token_fail %}
							{% url 'account_reset_password' as passwd_reset_url %}
								<p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
							{% else %}
							<form method="POST" action="{{ action_url }}">
								{% csrf_token %}
								{{ form|crispy }}
								<div class="form-group">
									<input type="hidden" name="next" value="{{ next }}">
									<button class="btn btn-outline-info mt-4" type="submit" name="action">Change Password</button>
								</div>
							{% endif %}
						</fieldset>
					</form>
				</div>
			</div>
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
	<script>
		var ul_fields = document.getElementsByTagName('ul')
			for (var field in ul_fields){ 
			ul_fields[field].className += ' ul-list-class';
		}
	</script>
{% endblock content %}