{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load account %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="margin-top: 3.1rem!important;">
				<div class="content-section">
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Reset Password</legend>
						<p>The password reset mail has been sent. Please check your mail or spam folder to see the mail.</p>
					</fieldset>
					<div class="form-group">
						<a href="{% url 'blog-home' %}" class="btn btn-outline-info">Go to home</a>
					</div>
					<div class="border-top pt-3">
						<small class="text-muted">
						Need An Account? <a class="ml-2" href="{% url 'account_signup' %}">Sign Up Now</a>
						</small>
					</div>
				</div>
			</div>
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
{% endblock content %}