{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="margin-top: 3.1rem!important;">
				<div class="content-section">
					<form method="POST">
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Password Reset Successful</legend>
							<p>Your password has beed reset successfully. You can log in now.</p>
							<div class="form-group">
								<a href="{% url 'account_login' %}" class="btn btn-outline-info">Login</a>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
{% endblock content %}