.alert{
  background: #C5F3D7;
  padding: 5px 15px;
  padding-right: 25px;
  min-width: 345px;
  position: fixed;
  right: 0;
  top: 90px;
  border-radius: 4px;
  border-left: 3px solid #66BB6A;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #66BB6A;
  font-size: 18px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 15px;
  color: #66BB6A;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #94EAB9;
  padding: 20px 10px;
  cursor: pointer;
  transition: .5s;
}
.alert .close-btn:hover{
  background: #2CD771;
}
.alert .close-btn .fas{
  color: #C5F3D7;
  font-size: 13px;
  line-height: 40px;
}