{% load static %}
<!-- Page Footer-->
<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="logo">
					<h6 class="text-white">Django Blog</h6>
				</div>
				<div class="contact-details">
					<p>For every django developer</p>
					<p>Phone: (880) 167 524 9574</p>
					<p>Email: <a href="mailto:evan@webphics.com">evan@webphics.com</a></p>
					<ul class="social-menu">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/tajbin.khan1/" target="_blank"
								><i class="fab fa-facebook"></i
							></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.instagram.com/ekvhan/" target="_blank"
								><i class="fab fa-instagram"></i
							></a>
						</li>
						<li class="list-inline-item">
							<a href="javascript:void(0)" target="_blank"
								><i class="fab fa-youtube"></i
							></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="menus d-flex">
					<ul class="list-unstyled">
						<li><a href="{% url 'profile' %}">My Account</a></li>
						<li><a href="javascript:void(0)">Add Listing</a></li>
						<li><a href="{% url 'terms-of-service' %}">Terms of Service</a></li>
						<li>
							<a href="{% url 'privacy-policy' %}">Privacy &amp; Policy</a>
						</li>
					</ul>
					<ul class="list-unstyled">
						<li><a href="javascript:void(0)">Our Partners</a></li>
						<li><a href="javascript:void(0)">FAQ</a></li>
						<li><a href="javascript:void(0)">How It Works</a></li>
						<li><a href="javascript:void(0)">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="latest-posts">
					{% if most_recent %} {% for post in most_recent %}
					<a href="{{ post.get_absolute_url }}">
						<div class="post d-flex align-items-center">
							<div class="image">
								<img
									src="{{ post.img_thumbnail.url }}"
									alt="..."
									class="img-fluid"
								/>
							</div>
							<div class="title">
								<strong class="text-capitalize"
									>{{ post.title|truncatewords:5 }}</strong
								><span class="date last-meta">{{ post.timestamp }}</span>
							</div>
						</div>
					</a>
					{% endfor %} {% else %}
					<p style="color: #fff">There are no latest posts.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="copyrights">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						©
						<script type="text/javascript">
							var year = new Date();
							document.write(year.getFullYear());
						</script>
						All rights reserved.
					</p>
				</div>
				<div class="col-md-6 text-right">
					<p>
						Developed By
						<a href="https://www.webphics.com/" target="_blank">Webphics</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
