{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="margin-top: 3.1rem!important;">
				<div class="content-section">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Reset Password</legend>
							{% if validlink %}
								{% csrf_token %}
								{{ form|crispy }}
								<div class="form-group">
									<input type="hidden" name="next" value="{{ next }}">
									<button class="btn btn-outline-info mt-4" type="submit">Change Password</button>
								</div>
							{% else %}
								<h2>The password reset link is invalid. Possibly it has already been used or expired.</h2>
								<h2>You can request your password again by <a href="{% url 'password-reset' %}" class="text-decoration-none text-dark">clicking here.</a></h2>
								<div class="form-group">
									<button class="btn btn-outline-info" type="submit">Reset Password</button>
								</div>
							{% endif %}
						</fieldset>
					</form>
				</div>
			</div>
			{% include 'blog/sidebar.html' %}
		</div>
	</div>
	<script>
		var ul_fields = document.getElementsByTagName('ul')
			for (var field in ul_fields){ 
			ul_fields[field].className += ' ul-list-class';
		}
	</script>
{% endblock content %}